<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Shopping List Check Off</h1>

      <div class="row">

        <!-- To Buy List -->
        <div class="col-md-6" ng-model="tbCtrl.tbItems" ng-controller="ToBuyController as tbCtrl">
          <div >
            <h2>To Buy:</h2>
            <ul >
              <li ng-repeat="item in tbCtrl.tbItems">
                Buy {{ item.quantity }} of {{ item.name }}
                <button
                  class="btn btn-default"
                  ng-click="checkOutItem($index);"
                >
                  <span class="glyphicon glyphicon-ok"></span> Bought
                </button>
              </li>
            </ul>

            <div ng-if="tbCtrl.tbItems.length==0" class="emptyMessage">
                Everything is bought!
            </div>
          </div>
        </div>

        <!-- Already Bought List -->
        <div class="col-md-6" ng-model="abCtrl.abItems" ng-controller="AlreadyBoughtController as abCtrl">
          <div >
          <h2>Already Bought:</h2>
          <ul >
            <li ng-repeat="bItem in abCtrl.abItems">
              Bought {{ bItem.quantity }} of {{ bItem.name }}
            </li>
          </ul>
          <div ng-if="abCtrl.abItems.length==0" class="emptyMessage">
              Nothing bought yet.
          </div>
        </div>
      </div>
    </div>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
